extends layout

block content
  h1= "Shabna Shaik"
  p I'm an adventure seeker and have a bucket list of thrill-seeking experiences. From skydiving over the Grand Canyon to bungee jumping in New Zealand, I'm always chasing adrenaline rushes.
